
    <nav id="nav">
        

            <div [routerLink]="['/']"  class="logo nav-common"><img src="../../../assets/images/icon.png" alt="logo" width="90px" height="auto"></div>
           
            <div [routerLink]="['/cart']"  class="cart nav-icon nav-common "><img src="https://res.cloudinary.com/de8cuyd0n/image/upload/v1520412544/E-commerce%20landing%20page/icons/shopping_cart_1x.png" alt="shopping-cart"><span class="badge badge-primary">{{cartData.length}}</span></div>
      
    </nav>
 